.env

annotations/

*.log

target/
out/
bin/

lib/

Thumbs.db

### IntelliJ IDEA ###
apps/.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store